<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style_finished.css')}}">
</head>

<body style="background-color: white">
        <div class="col">
            <div class="container-3">
                <div class="btn btn-two">
                    <form action="/" method="GET" class="products-form">
                        <input type="submit" value="GET BACK" style="position: relative; z-index: 2;">
                    </form>
                </div>
            </div>
        </div>

        <div class="text">
            <p>THANK YOU FOR SHOPPING HERE</p>
        </div>
    </body>
</html>